body {
    margin: 0px;
}

.header {
    display: flex;
}

.header-left {
    display: flex;
}

.header-right {
    display: flex;
}

.footer {
    display: flex;
}

.footer-left {
    display: flex;
}

.footer-right {
    display: flex;
}